folium>=0.9.1
sphinx
setuptools
matplotlib
scipy
plotly
branca
nbsphinx
tensorflow
keras
scikit-learn
ipython
jupyter
matplotlib
mne
mne-features
nose
numpy
panda
pandas
plotly
python-qt
scikit-learn
scipy
sympy

